
html, body, #game{
    margin: 0;
    height: 100%;
    width: 100%
} 
.btn-clr{
    background: transparent;
    border: none;
}
ul{
    padding:0;
}

.disp-none{
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navigate-options{
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
li{
    list-style-type: none;
}
.navigation-bar{
    margin: 0 auto;
    max-width: 900px;
    padding: 50px;
}