
html, body, #game{
    margin: 0;
    height: 100%;
    width: 100%
} 
.btn-clr{
    background: transparent;
    border: none;
}
ul{
    padding:0;
}

.disp-none{
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color:inherit;
}

.navigate-options{
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
li{
    list-style-type: none;
}
.navigation-bar{
    margin: 0 auto;
    max-width: 1500px;
    padding: 50px;
}

.grid-v{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-repo{
    font-size: 1.5em;
    font-weight: 300;
    margin: 21px;
}

.avatar{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    display: block;
}

.center-text{
    text-align: center;
}

.link{
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.inf{
    margin: 20px 0;
    font-size: 20px;
}
.inf li{
    display: flex;
    margin: 10px;
    align-items: center;
}

.inf svg{
    margin-right: 10px;
}
.inf a {
    font-weight: 500;
    color: inherit
}

.bg-light{
    background-color:rgba(0, 0, 0,0.08);
    border-radius: 3px;
}

.repo{
    margin: 10px 5px;
    width: 250px;
    padding: 20px;
}
.repo a{
    text-decoration: none;
}

.dark{
    color: white;
    background: #1c2220;
    min-height: 100%;
}

.header-sm{
    font-size: 20px;
    font-weight: 300;
    margin: 10px;
}

.instructions-head{
    margin: 100px 0;
}
.container-sm{
    width: 80%;
    margin: 0 auto;
}

.battle-instructions{
    padding:0;
    font-size: 25px;
}
.battle-instructions li{
    flex:1;
    max-width: 300px;
}
.battle-instructions svg{
    padding:40;
    border-radius: 3px;
}
